html,
body {
  height: 100%;
}

body {
  margin: 0;
}

#game {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.game-canvas {
  border: 1px solid #000;
}

.score-panel {
  width: 150px;
  border: 1px solid #000;
  border-right: none;
}
