html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: arial, sans-serif;
}

#game {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.game-canvas {
  border: 1px solid #888888;
  border-radius: 0 3px 3px 0;
}

.score-panel {
  width: 150px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #888888;
  border-right: none;
  display: flex;
  justify-content: center;
  .score {
    margin-top: 20px;
    font-size: 1.25em;
  }
}

.game-over-msg {
  position: absolute;
  font-size: 2em;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .msg-text {
    font-size: 2em;
    color: red;
  }

  .restart-button {
    margin-top: 28px;
    font-size: 0.75em;
    color: white;
    padding: 12px 20px;
    background-color: rgb(10, 153, 248);
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: rgb(0, 133, 221);
    }
  }
}
